:root {
  --first-dark: #0e1823;
  --first-light: #1b414b;
  --secondary: #fbfbfb;
  --third: #040306;
  --text-form: rgba(251, 251, 251, 0.3);
  --footer-text-opacity: rgba(251, 251, 251, 0.4);
  --footer-fill-soc-icon: rgba(251, 251, 251, 0.8);
  --fill-burger: #055545;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--first-dark);
  color: var(--secondary);
  margin: 0;
}

.main-btn {
  border-radius: 15px;
  background: var(--first-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--secondary);
}

html {
  scroll-behavior: smooth;
}
