.container {
}
.container-header {
  padding-left: 20px;
  padding-right: 20px;
}
.container-nav {
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 20px;
  align-items: center;
}
.header-nav {
}
.header-list-nav {
  display: flex;
  flex-direction: row;
}
.header-list-item-nav {
}
.nav-link-menu {
}
.header-list-soc {
  display: flex;
  flex-direction: row;
}
.header-list-item-soc {
}
.social-icon {
}
.header-burger-btn {
    background-color: transparent;
}
.header-icon-burger {
  fill: var(--fill-burger);
}
